.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
  padding: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
  .mainContent {
    margin-left: 250px;
    padding: 40px;
  }
}
